# Dependencies
node_modules/
.pnp/
.pnp.js

# Production build
dist/
build/

# Development
draft.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

localhost.crt
localhost.key
Alvaexamples/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache directories
.cache/
.parcel-cache/
.npm/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Vite
.vite/

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# System Files
.DS_Store
Thumbs.db